h1{
    font-family: 'poppins';
    font-weight: 700;
}

body{
    margin: 0;
}

.card{
    width: 18rem;
    border: 2px solid rgb(233, 233, 233);
    padding: 10px;
    border-radius: 8px;   
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
}

.card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#price{
    color: green;
}

.card h1{
    font-size: 1.4rem;
}

.card img{
    width: 90%;
    height: 12rem;
    margin: 10px auto;
    object-fit: contain;
}

.card-group{
    display: flex;
    justify-content: center;
    width: 80vw ;
    margin: 5vh auto ;
    flex-wrap: wrap;
    gap: 20px 30px ;
}

.card button{
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    font-weight: 600 ;
    color: white;
}

/* navbar  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom , #0F172A , #334155);
    color: white;
}

nav a{
    margin: 0;
    color: white;
    text-decoration: none;
}

nav h2{
    margin: 0;
}

nav ul{
    display: flex;
    list-style-type: none ;
    width: 50%;
    justify-content: space-around;
}

nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#cart-count{
    background-color: indianred;
    padding: 4px 10px ;
    border-radius: 8px ;
    margin-left: 4px;
}

#logout{
    border: 2px solid rgb(163, 74, 74);
    padding: 4px 16px ;
    background-color: transparent;
    color: indianred;
    border-radius: 12px ;
}



/* loading component  */

.loading-card{
    height: 500px ;
    width: 18rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border :2px solid rgb(233, 233, 233);
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    animation: loading 0.4s linear none infinite alternate;
}

.loading-img{
    width: 100%;
    border-radius: 8px;
    height: 13rem;
    background-color: rgb(218, 218, 218);
}

.loading-name , .loading-card p , .loading-card button{
    height: 30px;
    width: 100%;
    background: #dbdbdb;
    border-radius: 6px;
}


.loading-card button{
    background-color: #aeaeae;
    border: none;
}

@keyframes loading {
    from {
        opacity: 1;
    }
    to{
        opacity: 0.4;
    }
}


/* card header  */

.card-header{
    width: 80%;
    margin: 5vh auto;
}

.card-header button{
    padding: 10px 38px;
    border: 2px solid #e3e3e3 ;
    background-color: transparent;
    border-radius: 22px;
    margin-left: 10px;
    color: #aeaeae;
    cursor: pointer;
}

.card-header button:hover{
    border: 2px solid #aeaeae;
    color: black;
}

